<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">

    <!-- [class.dropdown-toggle]="totalCartItem > 0" -->

     <!-- | dik çizgi pipe simgesidir. para olduğunu belirmek için aşağıda totalCartItemPrice yanında kullanıldı -->
    Sepetim <span *ngIf="totalCartItem > 0"> : {{totalCartItemPrice | currency: ' ₺'}} ({{totalCartItem}}) </span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li *ngIf="cartItems.length === 0 ">
        <a class="dropdown-item disabled">Sepet Boş</a>
      </li>
    <li *ngFor="let item of cartItems">
        <a class="dropdown-item" href="#">
          <!-- büyük harfle yazması için pipe kullanıldı  -->
            {{item.Product.ProductName | uppercase}} - ({{item.Quantity}})
        </a>
    </li>
   
  </ul>